body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}

h2{
    font-size:20pt;
    text-shadow: rgb(128,0,128) -1px -2px 0.5em;
} 

